@media all and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
}
.container {
  border: 5px solid #efeae0;
  display: flex;
  justify-content: end;
  justify-content: space-evenly;
  font-size: x-small;
}

.search {
  flex: 1;
}

.search > input {
  text-align: center;
}
